<% if @article.errors.any? %>
	<ul>
	<% @article.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
	<% end %>
	</ul>
<% end %>

<%= form_for @article do |f| %>
	<p>
		<div class="titleInput"><%= f.label :title %></div>
		<%= f.text_field :title %>
	</p>

	<p>
		<div class="descriptionInput"><%= f.label :description %></div>
		<%= f.text_area :description %>
	</p>

	<%= f.submit %>

<% end %>

<%= link_to 'Go back', articles_path %>