<h1 align="center">Listing all articles</h1>

<% if @searches.blank? %>
	<h4>There are no articles containing  <%= params[:search] %>.</h4>
	
	<div align="center">
		<%= will_paginate %>
	</div>

	<%= render 'article', obj: @articles %>
	
	<div align="center">
		<%= will_paginate %>
	</div>
	
<% else %>

	<% if @searches.count > 5 %>
		<div align="center">
			<%= will_paginate %>
		</div>
	<% end %>

		<%= render 'article', obj: @searches %>

		<% if @searches.count > 5 %>
		<div align="center">
			<%= will_paginate %>
		</div>
	<% end %>
<% end %>