<div class="navBar">
  <div class="social-media">
    <a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a href="#" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
    <a href="#" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
    <a href="#" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    <a href="#" target="_blank"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
  </div>

  <div class="nav-links">
    <%= link_to 'Home', root_path %> 
    <%= link_to 'About Us', pages_about_path %>
    <%= link_to 'New Article', new_article_path %>
    <%= link_to 'Articles', articles_path %>
  </div>
</div>

<div class="header-logo">
  <%= image_tag'logo.png' %>
  <hr />
</div>